* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  background: #0a2a43;
  font: 1em/1.5 sans-serif;
}

header {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  height: 8vh;
  
}

nav {
  position: fixed;
  width: 100%;
}

nav ul {
  padding: 0;
  text-align: center;
  margin: 0;
}

nav ul li {
  display: inline-block;
  padding: 20px;
}

nav ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 20px;
  text-transform: uppercase;
}

.logo {
  position: fixed;
  float: left;
  margin: 16px;
  color: #fff;
  font-weight: bold;
  font-size: 24px;
}

nav.scroll ul {
  background: #000;
}

section {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

#text {
  position: relative;
  color: white;
  font-size: 10em;
  z-index: 1;
  background: none;
}

section::before {
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;
  background: linear-gradient(to top, #0a2a43, transparent);
  z-index: 10000;
  mix-blend-mode: color;
}
section::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to top, #0a2a43, transparent);
  z-index: 10000;
}

section img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  pointer-events: none;
}

#road {
  z-index: 2;
}

header::after {
  content: "";
  display: table;
  clear: both;
  height: 4vh;
}

.container {
  width: 80%;
  margin: 0 auto;
}


nav a:hover {
  color: rgba(23, 211, 201, 0.945));
}

#sub {
  text-align: center;
  color: white;
}
form {
  margin: 20px auto;
  width: 320px;
  color: white;
  align-content: center;
}

input {
  padding: 10px;
  font-size: inherit;
}

input[type="text"] {
  display: block;
  margin-bottom: 25px;
  width: 100%;
  border: 2px solid steelblue;
  background: #faf6d9;
}

input[type="password"] {
  display: block;
  margin-bottom: 25px;
  width: 100%;
  border: 2px solid steelblue;
  background: #faf6d9;
}

input[type="email"] {
  display: block;
  margin-bottom: 25px;
  width: 100%;
  border: 2px solid steelblue;
  background: #faf6d9;
}

input[type="radio"] {
  margin: 0 8px 25px 18px;
}
input[type="radio"]:first-child {
  margin-left: 0;
}

input[type="submit"] {
  width: 100%;
  height: 45px;
  border: none;
  background: steelblue;
  color: white;
}

input:focus {
  background: white;
}

input[type="radio"]:checked + label {
  font-weight: bold;
  font-size: 18px;
}

input[type="submit"]:focus {
  width: 100%;
  height: 45px;
  border: solid steelblue;
  background: white;
  color: steelblue;
}


